h1{
    text-align: center;
    font-size: 40px;
}
p{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}


.imageBack{
    align-items: center;
}

.imageFront, .imageBack{
    backface-visibility: hidden;
    position: absolute;
    display: flex;
    border: 2px solid black;
}