h1{
    text-align: center;
    font-size: 40px;
}
h3{
    text-align: center;
}

/* Mouse Over Effect*/
p {
    font-size: 20px;
    color:white;
}
.imageBack:hover img {
    display:none;
}
.imageBack p{
    color:rgb(22, 24, 32);
}

div{
    margin-bottom: 60px;
}
div:last-of-type{
    margin-bottom: 0;
}